<div class="row">
 <div class="col-md-12 col-lg-12">
    <div class="card shadow mt-5 mb-5">
	    <div class="card-body">
        <h1>Edit Project</h1>

        <%= render 'form', project: @project %>

        <%#= render partial:'form', locals:(project: @project) %>
	    </div>	
    </div>
  </div>
</div>